#Server
SERVER_HOST=127.0.0.1
SERVER_PORT=8000
SERVER_RELOAD=true
#Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5432
#JWT-auth
JWT_TIMEDELTA=15
JWT_REFRESH_TIMEDELTA=7
JWT_ALGORITHM=RS256
#Logs
LOGS_DEV=False
LOGS_LEVEL=30
#RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASSWORD=guest
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=15672
#Mongo
MONGO_USERNAME=root
MONGO_PASSWORD=example
MONGO_PORT=27017
MONGO_HOST=127.0.0.1