#Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5432
#JWT-auth
JWT_TIMEDELTA=15
JWT_REFRESH_TIMEDELTA=7
JWT_ALGORITHM=RS256
#Logs
LOGS_DEV=False
LOGS_LEVEL=30
